* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #f4a261;
  color: #131a24;
  padding: 5px;
  padding-bottom: 1px;
  padding-top: 3px;
  border-radius: 20px 0 0 0;
  font-size: 12px;
}

.time {
  padding-left: 10px;
}
